html {
    scroll-behavior: smooth;


}

body {
    background-color: #272727;
    color: #fff;
    font-family: "sofia-pro-soft", Arial, sans-serif;
    margin: 0;
    transition: 0.3s;

    &::-webkit-scrollbar {
        width: 20px;
    }

    &::-webkit-scrollbar-track {
        background-color: #222222;
    }

    &::-webkit-scrollbar-thumb {
        border: 6px solid transparent;
        background-color: #646464;
        border-radius: 999px;
        background-clip: content-box;
    }
}

.hidden {
    display: none;
}

.prevent-scrolling {
    @media (max-width: 650px) {
        overflow-y: hidden;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes floatIn {
    0% {
        opacity: 0;
        top: 30px;
    }

    33% {
        opacity: 0;
        top: 30px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes wave {
    0% {
        top: 0;
    }

    50% {
        opacity: 1;
        top: -30px;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes waveMob {
    0% {
        top: 0;
    }

    50% {
        opacity: 1;
        top: -14px;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}



.heading-two {
    font-size: 2.625rem;
    font-weight: 400;
    margin: 0 0 50px;

    @media screen and (max-width: 900px) {
        font-size: 2rem;
        margin: 0 0 25px;
    }

    @media screen and (max-width: 600px) {
        font-size: 1.5rem;
    }
}

.career {
    margin: 0 auto;
    max-width: 1400px;
    text-align: center;
}


.career {
    max-width: 940px;

    &__heading {
        margin-bottom: 33px;

        @media screen and (max-width: 900px) {
            margin-bottom: 20px;
        }
    }

    padding: 100px 25px 100px;

    @media screen and (max-width: 900px) {
        padding: 60px 25px 60px;
    }
}

@for $i from 0 through 8 {
    .career-child:nth-child(#{$i + 1}) {
        animation-delay: (0.25 * $i) + s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}

.career-child {
    opacity: 0;
}

.career-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: 50% 50%;

    &--animate {
        animation-name: fadeIn;
    }

    @media screen and (max-width: 600px) {
        gap: 0;
        grid-template-columns: 100%;
    }

    &__logo {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    &__logo {
        display: flex;

        img {
            align-self: center;
            max-width: 100%;

            @media screen and (max-width: 600px) {
                grid-column-start: 1;
                grid-column-end: 1;
                max-width: 50%;
            }
        }

        @media screen and (max-width: 600px) {
            justify-content: center;
        }
    }

    .career-info,
    &__line-wrap {
        margin-top: 24px;
    }

    .career-info {
        align-self: center;

        @media screen and (max-width: 600px) {
            margin-bottom: 22px;
        }
    }

    &__line {
        border-right: 1px solid #fff;
        height: 68px;
        margin: 0 auto;
        width: 1px;

        &--final {
            border-right: 1px dashed #fff;
            height: 34px;
        }
    }
}

.career-info {
    font-size: 1.563rem;
    font-weight: 300;

    &__location {
        color: #949494;
        font-size: 0.875rem;
        margin-bottom: 2px;

        @media screen and (max-width: 900px) {
            font-size: 0.8rem;
        }
    }

    &__role {
        font-size: 1.563rem;
        font-weight: 700;
        margin: 2px;

        @media screen and (max-width: 900px) {
            font-size: 1.3rem;
            margin: 2px 0 -2px;
        }
    }

    &__duration {
        font-size: 1.563rem;
        color: #CFCFCF;

        @media screen and (max-width: 900px) {
            font-size: 1.3rem;
        }
    }

    &__more-info {
        color: #00CF6E;
        font-size: 0.936rem;
        font-weight: 300;
        margin-top: 10px;

        @media screen and (max-width: 900px) {
            font-size: 0.85rem;
            margin-top: 6px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__more-info-text {
        font-size: 1.15rem;
        text-align: left;
        line-height: 1.75rem;
        overflow: hidden;
        transition: 1s;

        &--hidden {
            max-height: 0 !important;
        }
    }

    &__icon {
        margin-left: 6px;
        position: relative;
        top: 3px;
    }
}

.work-vid {
    height: 400px;
    margin: 0 25px 75px;
    max-width: 854px;
    width: 90%;

    @media (max-width: 500px) {
        height: 280px;
    }
}

.work-section {
    background-color: #191919;
    text-align: center;
    padding-bottom: 75px;
    padding-top: 100px;

    @media screen and (max-width: 900px) {
        padding-top: 60px;
    }

    &__see-more {
        display: inline-block;
        margin: 0 auto;
    }
}

.work-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: -25px auto 0;
    max-width: 904px;
    padding: 0 12.5px;

    @media screen and (max-width: 900px) {
        margin: 0 auto;
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: 100%;
    }
}

@for $i from 0 through 8 {
    .work-item:nth-child(#{$i + 1}) {
        animation-delay: (0.2 * $i) + s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }
}

.work-item {
    background-color: #2d2d2d;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    margin: 25px;
    text-align: left;
    text-decoration: none;
    opacity: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    transition: 0.3s;

    &:hover {
        top: -10px;
    }

    &--animate {
        animation-name: fadeIn;
    }

    @media screen and (max-width: 900px) {
        border-radius: 14px;
        margin: 12.5px;
    }

    &__text-section {
        color: #FFFFFF;
        padding: 16px 23px;
    }

    &__label {
        background-color: #E8793A;
        border-radius: 999px;
        display: inline-block;
        font-size: 0.75rem;
        font-weight: 400;
        margin-bottom: 6px;
        margin-right: 8px;
        padding: 1.5px 10px 2px;

        &:last-child {
            margin-right: 0;
        }

        &--a11y {
            background-color: #2A88E5;
        }

        &--uxui {
            background-color: #DA3B67;
        }

        &--react {
            background-color: #843ae8;
        }

        &--api {
            background-color: #e83a3a;
        }
    }

    &__project {
        font-size: 1.25rem;
        font-weight: 700;
        margin: 2px 0 0;

        @media screen and (max-width: 600px) {
            font-size: 1rem;
        }
    }

    &__image {
        height: 348px;
        margin-top: auto;

        @media screen and (max-width: 600px) {
            height: 244px;
        }
    }
}

.socials {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 25px 110px;
    text-align: center;

    @media screen and (max-width: 900px) {
        padding: 60px 25px 70px;
    }
}

.socials-grid {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;

    @media screen and (max-width: 600px) {
        grid-template-columns: 50% 50%;
        margin: 0 auto;
        max-width: 280px;
    }
}

@for $i from 0 through 8 {
    .social-item:nth-child(#{$i + 1}) {
        animation-delay: (0.3 * $i) + s;
        animation-duration: 0.75s;
    }
}

.social-item {
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 16px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    top: 0;

    &--animate {
        animation-name: wave;

        @media (max-width: 650px) {
            animation-name: waveMob;
        }
    }

    @media screen and (max-width: 600px) {
        margin-bottom: 45px;
    }

    &__img {
        margin: 0 auto;
        max-width: 100px;

        @media screen and (max-width: 600px) {
            max-width: 70px;
        }
    }

    &__text {
        color: #00CF6E;
        font-size: 1.2rem;
        font-weight: 300;

        @media screen and (max-width: 900px) {
            font-size: 1rem;
        }
    }

    &:hover {
        top: -7.5px;
    }

    &:nth-child(3),
    &:nth-child(4) {
        margin-bottom: 0;
    }
}

.contact {
    background-color: #19A966;
    padding: 100px 25px;
    text-align: center;

    @media screen and (max-width: 900px) {
        padding: 60px 25px;
    }

    &__header {
        margin: 0;
    }

    &__sub-text {
        color: #E3E3E3;
        font-size: 1.5rem;
        font-weight: 300;

        @media screen and (max-width: 900px) {
            font-size: 1.2rem;
        }
    }

    &__link {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 400;
        text-decoration: none;

        @media screen and (max-width: 900px) {
            font-size: 1.2rem;
        }

        span {
            border-bottom: 2px solid transparent;
            transition: 0.3s;
        }

        &:hover {
            span {
                border-bottom: 2px solid #fff;
            }
        }
    }

    &__icon {
        height: 33.4px;
        margin-right: 8px;
        position: relative;
        top: 9px;
        width: 43px;

        @media screen and (max-width: 900px) {
            height: 26px;
            top: 8px;
            width: 32.5px;
        }
    }
}

.proj-slice {

    &--alt {
        background-color: #101010;
    }

    padding: 80px 40px 80px;

    @media (max-width: 650px) {
        padding: 40px 25px 40px;
    }

    &__header {
        color: #fff;
        display: block;
        font-size: 2.1rem;
        font-weight: 700;
        margin: 0 0 25px;
        text-align: center;

        @media (max-width: 650px) {
            font-size: 1.75rem;
        }
    }

    &__sub-header {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 700;
        margin: 0 0 25px;

        @media (max-width: 650px) {
            font-size: 1.25rem;
            margin: 0 0 16px;
        }
    }

    &__content-block {
        color: #b4b4b4;
        margin: 0 auto;
        max-width: 1000px;

        p,
        ul {
            font-size: 1.2rem;
            margin: 0;

            @media (max-width: 650px) {
                font-size: 1rem;
            }
        }

        p,
        small {
            font-weight: 200;
        }

        ul {
            color: #ffffff;
            font-weight: 200;
            margin: 0 0 26px;

            li {
                margin-bottom: 6px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__image {
        border-radius: 18px;
        display: block;
        margin: 40px auto 20px;
        max-width: 100%;

        &--last {
            margin: 40px auto 60px;

            @media (max-width: 650px) {
                margin: 20px auto 40px;
            }
        }

        @media (max-width: 650px) {
            border-radius: 10px;
        }
    }

    &__link {
        border-bottom: 1px solid transparent;
        color: #00CF6E;
        font-size: 1.2rem;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
            border-bottom: 1px solid #00CF6E;
        }

        @media (max-width: 650px) {
            font-size: 1rem;
        }
    }

    &--footer {
        background-color: #19A966;
        color: #ffffff;
        text-align: center;
    }

    &__return-button {
        background-color: #ffffff;
        border-radius: 999px;
        color: #19A966;
        display: inline-block;
        font-size: 1.2rem;
        margin: 50px auto 0;
        outline: 2px solid transparent;
        padding: 5px 18px 7px;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
            background-color: #19A966;
            color: #fff;
            outline: 2px solid #ffffff;
        }

        @media (max-width: 650px) {
            font-size: 1rem;
            padding: 4px 14px 6px;
        }
    }
}

.temp-work-message {
    align-items: center;
    border-radius: 23px;
    display: flex;
    outline: 1px solid #fff;
    text-align: center;
    margin: 25px;
    padding: 25px;
}

.see-next {
    &__text {
        border-bottom: solid 2px #2bb876;
        color: #ffffff;
        display: block;
        padding: 0 25px 35px;
    }
}